/* Add this CSS to your stylesheets or components */
:root{
    /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #141414;
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --bluebase: #3A5E82;
  --yellowuhuy: #F6BE4F;

}
/* Hardcoded Pagination Styles */
.flex {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-content: end;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  /* Pagination Button Styles */
  .w-10 {
    width: 2.5rem;
  }
  
  .h-10 {
    height: 2.5rem;
  }
  
  .bg-lightGray {
    background-color: var(--bluebase); /* Adjust the color as needed */
  }

  .bg-lightGray:hover {
    background-color: var(--yellowuhuy);
    color: var(--black-color);
    font-weight: bold; /* Adjust the color as needed */
  }
  
  .rounded-md {
    border-radius: 0.375rem; /* Adjust the border-radius as needed */
  }
  
  .border {
    border: none; /* Adjust the border color as needed */
  }
  
  .hover\:bg-lightGray:hover {
    background-color: var(--yellowuhuy); 
    color: var(--black-color);
    font-weight: bold;/* Adjust the hover color as needed */
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .bg-purple {
    background-color: #800080; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
  }
  
  .text-white {
    color: #fff; /* Adjust the text color as needed */
  }
  