.date {
  color: black;
  font-weight: 900;
  font-size: 28px;
}

.weather-container {
  background-color: #f5c451;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.transport-container {
  display: flex;
  gap: 20px;
}
