.date {
  color: black;
  font-weight: 900;
  font-size: 2em;
}

.temp {
  color: black;
  font-weight: 900;
  font-size: 28px;
}

.weather-container {
  cursor: pointer;
  background-color: #f5c451;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  gap: 20px;

  /* max-width: 300px; */
  width: 100%;
}

.weather-dropdown {
  position: absolute;
}

.weather-dd-content {
  display: flex;
  align-items: center;
  gap: 50px;

  background-color: #eae9e9;
  border: 1px solid black;

  padding: 10px 20px;
}

@media (max-width: 1523px) {
  .date {
    font-size: 20px;
  }

  .weather-container {
    width: 80%;
  }

  .weather-icon {
    width: 10px;
  }
}
