.detail-status-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.detail-img,
.detail-status {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80vw;

  border-radius: 50px 0px;
}

.detail-img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.detail-status {
  background: linear-gradient(to top, #141414, #00000000);
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  align-items: end;
}

.status-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  border-bottom: 1px solid #3d4043;
  padding-bottom: 75px;
}

.content-title {
  font-weight: 900;
  font-size: 40px;
}

.content-desc p {
  font-size: 20px;
  text-align: left;
}

.content-price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.content-price span {
  font-size: 24px;
}

.content-facility {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 50px;
}

.content-facility > h3 {
  font-size: 30px;
  font-weight: 600;
}

.facilities {
  display: flex;
  align-items: center;
  gap: 40px;
}

.facility {
  display: flex;
  align-items: center;
  gap: 15px;
}

.facility > h4 {
  font-size: 24px;
  font-weight: 400;
}

.content-map {
  margin-top: 40px;
}

.related-video {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding-top: 20px;
}
